
<div class="container">
  <!-- <p>header works!</p> -->
  <div class="header p-3">
    <img src="../../assets/viva-tce-high-resolution-logo-transparent.png" [routerLink]="home()" alt="logo" width="auto" height="40" style="cursor:pointer; margin: 15px 0 15px 0;" >
    <div class="user">
      <!-- @if(usuario().email == undefined || usuario().email == '') {
        <p routerLink="/landing" style="cursor:pointer;">Faça Login!</p>
      }
      @else { -->
        <p>Bem vindo, {{ usuario().nome }}</p>
      <!-- } -->
      <div style="float:right">
        <i class="fa-solid fa-cart-shopping p-1"></i>
        <i class="fa-solid fa-eye p-1" (click)="imprimir()" routerLink="/usuario/{{usuario().id}}/perfil"></i>
        <i class="fa-solid fa-pen p-1"></i>
        <i class="fa-solid fa-right-from-bracket p-1"></i>
      </div>

    </div>
  </div>
</div>


