
<div class="landing-0">
  <!-- <h1 class="texto">QCVC</h1> -->
  <img src="../../assets/viva-tce-high-resolution-logo-transparent.png" routerLink="/home" alt="Portal de Serviços" class="img-fluid" style="cursor:pointer">
  <div class="landing">
    <div class="col-4 bg-light p-4 rounded mw-100 shadow" style="min-width:200px; max-width:500px;">
      <h5>Cadastro</h5>
      <form class="form-group" [formGroup]="form" (ngSubmit)="onSignUp()">
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" formControlName="nome">
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
    </div>

    <div class="col-4 bg-light p-4 rounded mw-100 shadow" style="min-width:200px; max-width:500px;">
      <h5>Login</h5>
      <form class="form-group" [formGroup]="form" (ngSubmit)="onSignIn()">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="text" class="form-control" formControlName="email">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-success">Sign In</button>
      </form>
    </div>
  </div>
  <p class="texto">Faça seu cadastro ou login!</p>
  <!-- <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button> -->
</div>

